<!-- Top Menu -->
<div align="center">
{+new Link().toFile("index.html").withText("Class Index")+} |
{+new Link().toFile("files.html").withText("File Index")+}
</div>
<hr />

<!-- List of Modules (objects derived from Firebug.Module) -->
<if test="data.modules.length">
<h2>Modules</h2>
<ul class="classList">
    <for each="module" in="data.modules">
    <li>{!
        output += new Link().toClass(module.alias);
     !}</li>
    </for>
</ul><hr />
</if>

<!-- List of Panels (objects derived from Firebug.Panel) -->
<if test="data.panels.length">
<h2>Panels</h2>
<ul class="classList">
    <for each="panel" in="data.panels">
    <li>{!
        output += new Link().toClass(panel.alias);
     !}</li>
    </for>
</ul><hr />
</if>

<!-- List of Domplate templates (usually objects derived from Firebug.Rep) -->
<if test="data.domplates.length">
<h2>Templates</h2>
<ul class="classList">
    <for each="domplate" in="data.domplates">
    <li>{!
        output += new Link().toClass(domplate.alias);
     !}</li>
    </for>
</ul><hr />
</if>

<!-- List of all Services (XPCOM) objects -->
<if test="data.services.length">
<h2>Services (XPCOM)</h2>
<ul class="classList">
    <for each="service" in="data.services">
    <li>{!
        output += new Link().toClass(service.alias);
     !}</li>
    </for>
</ul><hr />
</if>

<!-- List of all dialog objects -->
<if test="data.dialogs.length">
<h2>Dialogs</h2>
<ul class="classList">
    <for each="dialog" in="data.dialogs">
    <li>{!
        output += new Link().toClass(dialog.alias);
     !}</li>
    </for>
</ul><hr />
</if>

<!-- List of all classes -->
<h2>All Classes</h2>
<ul class="classList">
    <for each="thisClass" in="data.classes">
    <li>{!
        if (thisClass.alias == "_global_")
            output += "<i>"+new Link().toClass(thisClass.alias)+"</i>";
        else
            output += new Link().toClass(thisClass.alias);
    !}</li>
    </for>
</ul>
<hr />