/* See license.txt for terms of usage */

.pageList {
    width: 100%;
}

.pageTable {
    width: 100%;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 11px;
}

.pageCol {
    white-space: nowrap;
    border-bottom: 1px solid #EEEEEE;
}

.pageRow {
    font-weight: bold;
    height: 18px;
}

.pageRow:hover {
    background: #EFEFEF;
}

.opened > .pageCol > .pageName {
    background-image: url(images/twistyOpen.png);
}

.pageName {
    background-image: url(images/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 1px;
    padding-left: 18px;
    font-weight: bold;
    cursor:pointer;
}

.pageID {
    color: gray;
}

.pageInfoCol {
    background: url(images/timeline-sprites.png) repeat-x scroll 0 -112px #FFFFFF;
    padding: 0px 0px 4px 17px;
}

.pageRemoveAction {
    white-space:nowrap;
    padding-left: 15px;
    padding-right: 5px;
    font-weight: normal;
}

.pageRemoveAction.link {
    color: #0000ff;
    cursor:pointer;
}

.pageRemoveAction.link:hover {
    text-decoration:underline;
}
