/* See license.txt for terms of usage */

body {
    margin: 0;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

h1 {
    font-size: 17px;
    border-bottom: 1px solid threedlightshadow;
}

pre {
    margin: 0;
    font: inherit;
}

a {
    text-decoration: none;
}

/* This is a little cheating, the shape attribute is appended by XSLT */
a:hover[shape="rect"] {
    text-decoration: underline;
}

/************************************************************************************************/

.red {
    color: #DD467B;
}
 
/************************************************************************************************/

#content {
    /*overflow: auto;*/
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    color: #000000;
}

.link {
    color:blue;
}

.link:hover {
    text-decoration: underline;
    cursor:pointer;
}

.running {
    width: 16px;
    height: 16px;
    background-image: url(images/loading_16.gif);
}

.collapsed,
[collapsed="true"] {
    display: none;
}

/************************************************************************************************/
/* Input Tab */

.tabInputBody {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11.7px;
    font-weight: 400;
    font-style: normal;
    color: #222222;
}

.inputBody {
    padding: 8px;
}

/************************************************************************************************/
/* Preview Tab */

.tabPreviewBody {
}

/************************************************************************************************/
/* DOM Tab */

.tabDOMBody {
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 11px;
    min-height: 20px;
}

/************************************************************************************************/
/* Schema Tab */

.schemaPreview, .sourcePreview {
    border: 0;
    font-family: Monaco, monospace;
    font-size: 12px;
    padding: 8px;
}

/************************************************************************************************/
/* Help Tab */

.HelpTab {
    margin-left:100px;
}

.tabHelpBody {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11.7px;
    font-weight: 400;
    font-style: normal;
    color:  #222222;
}

.helpBody {
    padding: 8px;
}

.tabHelpBody h2 {
    color:  #DD467B;
    font-size: 22.8px;
    font-weight:lighter;
}

.tabHelpBody h3 {
    color: #DD467B;
    font-weight:bold;
}

.tabHelpBody code {
    color:  green;
}

/************************************************************************************************/
/* Toolbar */

.previewToolbar {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 0 2px 3px;
}

/************************************************************************************************/
/* Toolbar Buttons */

.harButton {
    padding: 3px;
    border: 1px solid transparent;
    vertical-align: text-top;
}

.harButton:hover {
    color: #000000;
    cursor: pointer;
    background: url(images/bg-button.gif) repeat-x scroll 0 0 #FFFFFF;
    border-top:1px solid #bbb;
    border-bottom:1px solid #aaa;
    border-left:1px solid #bbb;
    border-right:1px solid #aaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.harButton:active {
    background-position: 0 -400px;
}

.harDownloadButton {
    display: inline-block;
    vertical-align: middle;
    height: 20px !important;
    width: 16px !important;
}

/* Remove the dotted outline when focused */
.harDownloadButton OBJECT {
    outline: none;
    -moz-user-focus: ignore;
}
