/* See license.txt for terms of usage */

.AboutTab {
    margin-left: 100px;
}

.AboutTab .version {
    font-size: 11px;
    color: #DD467B;
}

.tabAboutBody {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11.7px;
    font-style: normal;
    font-weight: 400;
}

.aboutBody {
    padding: 8px;
}

/*************************************************************************************************/
/* Errors */

.errorTable {
    margin: 8px;
    font-size: 13px;
}

.errorProperty {
    color: gray;
    font-style:italic;
}

.errorMessage {
    color: red;
}

/*************************************************************************************************/
/* Toolbar */

/* Remove the dotted outline when focused */
.harDownloadButton OBJECT {
    outline: none;
    -moz-user-focus: ignore;
}

.harSaveButton {
    background: url(images/save.png) no-repeat;
}
