/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Preview */

/*************************************************************************************************/
/* Errors */

.errorTable {
    margin: 8px;
    font-size: 13px;
}

.errorProperty {
    color: gray;
    font-style:italic;
}

.errorMessage {
    color: red;
}

/*************************************************************************************************/
/* Toolbar */

/* Remove the dotted outline when focused */
.harDownloadButton OBJECT {
    outline: none;
    -moz-user-focus: ignore;
}

.harSaveButton {
    background: url(images/save.png) no-repeat;
}
