<!doctype html>
<html>
<head>
  <title>testIssue39-har</title>
</head>
<body>

<!-- Test local (relative) HAR -->
<div id="harViewerContainer" class="har" height="100" data-har-url="<%= test_base %>tests/hars/simple.har?action=show_me_har_file"></div>

<script>
(function() {
    var har = document.createElement("script");
    har.src = "<%= harviewer_base %>har.js";
    har.setAttribute("id", "har");
    har.setAttribute("async", "true");
    document.documentElement.firstChild.appendChild(har);
})();
</script>

</body>
</html>
