/* See license.txt for terms of usage */

.tabArchiveBody {
    font-size: 12px;
}

.archiveTable {
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
}

.archiveRow:hover {
    background: #EFEFEF;
    cursor: pointer;
}

.archiveCol {
    border-bottom: 1px solid #eeeeee;
}

.archiveCol.label {
    font-weight: bold;
}

.archiveCol.date {
}

.archiveCol.config {
    color:gray;
}
